@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Poppins", sans serif;
}

body{
  align-items: center;
  justify-content: center;
  background: white;
}

.contenitore{
  max-width: 1200px;
  height:100%;
  display: grid;
  gap: 2px;
  margin-top:5%;
  margin-bottom:10%;
}

.container_testo{
  max-width:80%;
  max-height:10px;
  margin-left:25%;
  margin-top:-8%;
  text-align:center;
}

.container_testo label{
	display: inline-block;
    width: 23%;
    text-align:left;
}

.bottone{
  background-color: rgb(192,28,40);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container{
	position:absolute;
	float:left;
	
  padding: 1rem;
  height: 30rem;
  max-width: 300px;
  width: 100%;
  background: #fff;
}

.testo{
	margin-top:15%;
	font-size:20px;
}


.container .topic{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .list{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 10%;
  position: relative;
}

.content .list label{
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 15%;
  transition: all 0.5s ease;
  color: black;
  z-index: 12;
}

#Panoramica:checked ~ .list label.Panoramica,
#Dati_Account:checked ~ .list label.Dati_Account,
#Dati_personali:checked ~ .list label.Dati_Personali,
#Dati_spedizione:checked ~ .list label.Dati_spedizione,
#Lista_Utenti:checked ~ .list label.Lista_Utenti,
#Lista_Prodotti:checked ~ .list label.Lista_Prodotti,
#Logout:checked ~ .list label.Logout
{
  color: black;
}

.content .list label:hover{
  color: black;
}

a{
	text-decoration:none;	
}

A:ACTIVE{
	color:black;
}

A:VISITED{
	color:black;
}

A:HOVER{
	color:rgb(192,28,40);
}

A:LINK{
	color:black;
}

.content .slider{
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: rgb(192,28,40);
  transition: all 0.4s ease;
}

#Panoramica:checked ~ .list .slider{
 	top:0;
}
#Dati_Account:checked ~ .list .slider{
	top:60px;
}
#Dati_personali:checked ~ .list .slider{
	top:120px;
}
#Dati_spedizione:checked ~ .list .slider{
	top:180px;
}
#Ordini_effettuati:checked ~ .list .slider{
	top:240px;
}
#Prenotazioni:checked ~ .list .slider{
	top:300px;
}
#Lista_Utenti:checked ~ .list .slider{
	top:360px;
}
#Lista_Prodotti:checked ~ .list .slider{
	top:420px;
}
#Lista_Ordini:checked ~ .list .slider{
	top:480px;
}
#Lista_Prenotazioni:checked ~ .list .slider{
	top:540px;
}

.content .text-content{
  width: 80%;
  height: 100%;
}

.content .text{
  display: none;
}

.content .text .title{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}

.content .text p{
  text-align: justify;
}

.content .text-content .home{
  display: block;
}

#Panoramica:checked ~ .list label.Panoramica,
#Dati_Account:checked ~ .list label.Dati_Account,
#Dati_personali:checked ~ .list label.Dati_Personali,
#Dati_spedizione:checked ~ .list label.Dati_spedizione,
#Lista_Utenti:checked ~ .list label.Lista_Utenti,
#Lista_Prodotti:checked ~ .list label.Lista_Prodotti,
#Logout:checked ~ .list label.Logout{
  display: block;
}

.content input{
  display: none;
}

.form-field {
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-inputContainer input:focus {
    outline: none;
}

.form-inputContainer.error input {
   color: #FF0000;
}

.form-inputContainer.success input {
   color: #28a745;
}

.form-inputContainer small {
    color: #FF0000;
}

#username{
	background-image:url(img/utente.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}


#nome{
	background-image:url(img/utente.png);
	position:left;
	padding-left:20px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#cognome{
	background-image:url(img/utente.png);
	position:left;
	padding-left:20px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#email{
	background-image:url(img/email.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:10 px;
}

#password{
	background-image:url(img/password.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#checkPassword{
	background-image:url(img/password.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#phone{
	background-image:url(img/phone.png);
	position:left;
	padding-left:20px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#spedizione{
	background-image:url(img/indirizzo.png);
	position:left;
	padding-left:20px;
	background-size:16px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#fatturazione{
	background-image:url(img/indirizzo.png);
	position:left;
	padding-left:20px;
	background-size:16px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#citta{
	background-image:url(img/indirizzo.png);
	position:left;
	padding-left:20px;
	background-size:16px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#cap{
	background-image:url(img/indirizzo.png);
	position:left;
	padding-left:20px;
	background-size:16px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#data{
	background-image:url(img/torta.png);
	position:left;
	padding-left:80px;
	background-size:20px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

@media (min-width: 600px) {
  .prodotti { grid-template-columns: repeat(2, 1fr);}
}

@media (min-width: 900px) {
  .prodotti { grid-template-columns: repeat(2, 1fr); }
}
