@charset "ISO-8859-1";


.pitcure{ 
	width:600px; 
	height: 415px;
	border: 2px solid black;
}

.buttonleft {
	margin-top: 10px;
	width: 35px;
	height: 35px;
	border:2px solid black;
	color:silver;
	background-color: red;
	transition-duration:0.4s;
	cursor:pointer;
	display: inline;
}

.buttonleft:hover{
	color: white;
	background-color: black;
	border:2px solid red;
}

.buttonright{
	margin-top:10px;
	width: 35px;
	height: 35px;
	color:silver;
	border:2px solid black;
	background-color: red;
	transition-duration:0.4s;
	cursor:pointer;
	display: inline;
}

.buttonright:hover{
	color: white;
	background-color: black;
	border:2px solid red;
}

.line{
	margin-top:15px;
	height:2px;
	border-width:0;
	color:black;
	background-color:black;
}

.titpro{
	display:flex;
	margin-top:10px;
}

.prodotto{
	display: flex;
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
}

.prodotto1{
	display: grid;
}

.shop{
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.shop1{
	display:grid;
	grid-template-columns:1fr 1fr;
}

.shop2{
	display:grid;
	align-content:center;
	justify-content:center;
}

.n{
	border: 1px solid black;
	border-radius: 30px;
	width: 55px;
	height: 25px;
	padding: 5px;
}

.n:hover{
	border:1px solid red;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bao:hover{
	border:2px solid black;
	background-color: red;
	color:white;
}

.bao{
	font-size:22px;
	width: 200px;
	height: 45px;
	border:2px solid red;
	color: black;
	background-color: white;
	transition-duration:0.4s;
	cursor:pointer;
}

.bag{
	font-size:22px;
	width: 200px;
	height: 45px;
	border:2px solid black;
	color: white;
	transition-duration:0.4s;
	cursor: pointer;
	background-color: red;
}

.bag:hover{
	border:2px solid red;
	background-color: white;
	color:black;
}

@media (max-width:750px){
	  .prodotto{
	  	grid-template-columns: repeat(1,1fr);
	  }
}

.d{
	color: red;
	font-weight:bold;
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}

.off{
	color:white;
	font-size:20px;
	width:225px;
	height:45px;
	background-color: #008f39;
	border: 2px solid #008f39; 
}

.off:hover{
	text-decoration:underline;
}

.des{
	display:grid;
	grid-template-columns:1fr;
	margin-bottom:10px;
}

.feed{
	display:grid;
	grid-template-columns:1fr 1fr;
	border:5px solid red;
	margin-bottom:10px;
}

.f{
	font-size: 22px;
	width: 225px;
	height: 45px;
	color: black;
	background-color:silver;
	border: 2px solid red;
	border-radius: 20px;
	transition-duration:0.4s;
	cursor: pointer;
	margin-top: 10px;
}

.f:hover{
	color:silver;
	background-color: red;
	border: 2px solid black;
}

.noff{
	color:white;
	font-size:20px;
	width:250px;
	height:45px;
	background-color: red;
	border: 2px solid red; 
}

.noff:hover{
	text-decoration:underline;
}

.pd{
	color:black;
	font-size:20px;
	width:250px;
	height:45px;
	background-color:transparent;
	border: 2px solid green; 
}

.pd:hover{
	text-decoration:underline;
	text-decoration-color:green;
}

.pnd{
	color:black;
	font-size:20px;
	width:300px;
	height:45px;
	background-color:transparent;
	border: 2px solid red; 
}

.pnd:hover{
	text-decoration:underline;
	text-decoration-color:red;
}

.pre{
	text-align:center;
}

@media (max-width:532px){
	.pd{
		width:150px;
		font-size:16px;
	}
	
	.pnd{
		width:150px;
		font-size:16px;
	}
	
	.pre{
		font-size:16px;
	}
}