@charset "UTF-8";

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	background: linear-gradient(#000000,rgb(192,28,40));
}

body {
	font-family: montserrat, arial, verdana;
}

/*form styles*/
#form {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

/*Nasconde tutti i fieldset tranne il primo*/
#form fieldset:not(:first-of-type) {
	display: none;
}

/*inputs style*/
#form input{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons style*/
#form .action-button {
	width: 100px;
	background: rgb(192,28,40);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#form .action-button:hover, #form .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings dei fieldset*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

/*marchio gli step completati di rosso,gli altri di bianco*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: rgb(192, 28, 40);
	color: white;
}

.form-field {
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-inputContainer input:focus {
    outline: none;
}

.form-inputContainer.error input {
   color: #FF0000;
}

.form-inputContainer.success input {
   color: #28a745;
}

.form-inputContainer small {
    color: #FF0000;
}

/*Inserisco le varie icone agli input*/
#username{
	background-image:url(img/utente.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}


#nome{
	background-image:url(img/utente.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#cognome{
	background-image:url(img/utente.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#email{
	background-image:url(img/email.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:10 px;
}

#password{
	background-image:url(img/password.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#checkPassword{
	background-image:url(img/password.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}

#phone{
	background-image:url(img/phone.png);
	position:left;
	padding-left:30px;
	background-size:15px;
	background-repeat:no-repeat;
	border-radius:3 px;
}
