@charset "UTF-8";
body{
	margin:0;
	padding:0;
	background-color:red;	
}

.content{
	display:grid;
	background-color:bisque;
	height:100vh;
	place-items:center;
}

legend{
	color:black;
}

#form_login{
	color:orange;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}